<a href="https://colab.research.google.com/github/Lopeswaprojetos/Automatize_Tarefas/blob/main/SQLITEcomPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3

conn = sqlite3.connect('meubancodedados.db')

#criar um objeto cursor para executar comandos SQL
cursor = conn.cursor()

Create (Criar):

Vamos criar uma tabela e inserir alguns dados nela:

In [4]:
#criar uma nova tabela
cursor.execute('''
    CREATE TABLE IF NOT EXISTS usuarios (
        id INTEGER PRIMARY KEY,
        nome TEXT NOT NULL,
        idade INTEGER
    )
''')

#inserir dados na tabela
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('João', 25)''')
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('Bob', 30)''')
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('Alice', 27)''')
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('Carem', 35)''')
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('Mateus', 15)''')
cursor.execute('''INSERT INTO usuarios (nome, idade) VALUES ('Alexandre', 40)''')

#Commit (salvar) as alterações
conn.commit()

Read (Ler):
Ler dados da tabela

In [5]:

#selecionar e ler dados

cursor.execute('''SELECT * FROM usuarios''')
usuarios = cursor.fetchall()

for usuario in usuarios:
    print(usuario)

(1, 'João', 25)
(2, 'Bob', 30)
(3, 'Alice', 27)
(4, 'Carem', 35)
(5, 'Mateus', 15)
(6, 'Alexandre', 40)

Update (Atualizar):
Atualizar dados de um usuário

In [6]:
# Atualizar a idade do usuário Bob
cursor.execute('''UPDATE usuarios SET idade = 26 WHERE nome = 'Bob' ''')

# Commit as alterações
conn.commit()

Delete (Deletar):Deletar um usuário da tabela

In [7]:
# Deletar o usuário Alice
cursor.execute('''DELETE FROM usuarios WHERE nome = 'Alice' ''')

# Commit as alterações
conn.commit()

In [8]:
cursor.execute('''SELECT * FROM usuarios''')
usuarios = cursor.fetchall()

for linha in usuarios:
    print(linha)

(1, 'João', 25)
(2, 'Bob', 26)
(4, 'Carem', 35)
(5, 'Mateus', 15)
(6, 'Alexandre', 40)

Fechando a conexão:
Após realizar as operações, é importante fechar a conexão com o banco de dados

In [9]:
conn.close()

Estes exemplos cobrem as operações básicas CRUD no SQLite usando Python. Lembre-se de que, na prática, você deve adicionar tratamento de erros e considerações de segurança (como evitar a injeção de SQL) para tornar seu código mais robusto e seguro.

Ferramentas para visualizar os registro no banco de dados:

Para visualizar dados do SQLite de forma gráfica, você pode usar várias ferramentas e interfaces gráficas de usuário (GUI) disponíveis. Estas ferramentas oferecem uma maneira fácil e interativa de visualizar, gerenciar e manipular seus dados em bancos de dados SQLite. Algumas das opções mais populares incluem:

DB Browser for SQLite: É uma ferramenta de código aberto que permite visualizar, editar e criar bancos de dados SQLite. Ela tem uma interface amigável e oferece funcionalidades como a execução de consultas SQL, visualização de tabelas e índices, e exportação de dados. link do site sqlitebrowser.org.

SQLiteStudio: Outra ferramenta gratuita e de código aberto para gerenciar bancos de dados SQLite. Oferece uma interface limpa e intuitiva com recursos como editor de SQL com realce de sintaxe, visualizador de dados de tabela, e ferramentas para gerenciamento de banco de dados.

DBeaver: Uma ferramenta universal de gerenciamento de banco de dados que suporta SQLite, bem como outros sistemas de gerenciamento de banco de dados. É mais complexa e oferece recursos avançados para usuários que precisam gerenciar múltiplos bancos de dados.

Para usar qualquer uma dessas ferramentas, geralmente você só precisa instalar o programa, abrir o arquivo do banco de dados SQLite (geralmente com a extensão .db ou .sqlite) e então você poderá navegar pelas tabelas, executar consultas SQL e visualizar seus dados de forma gráfica. A escolha da ferramenta depende das suas necessidades específicas e se você prefere uma solução gratuita ou paga, com mais recursos avançados.